# Read .csv file and change its form as (time, price, volume)

In [1]:
import pandas as pd
import numpy as np
import datetime
import pytz

In [2]:
# Standardize file to form (time, price, volume) for tick data, craete a new dataframe
def standard_tick_csv(file):
    # Construct new index datetime with (YYMMDD HH:MM:SS)
    file['DATE'] = file['DATE'].astype(str)
    file['TIME'] = file['TIME'].astype(str)
    time = file['DATE'] + ' ' + file['TIME']
    ttime = pd.to_datetime(time).astype(str)
    
    # Reserve price and size as price and volume 
    long = len(file)
    nprice = file['PRICE']
    nvolume = file['SIZE']
    
    #new_df2 index is date-time, cols = [price volume]
    new_df2 = pd.DataFrame(np.random.randn(long,2),columns=['price','volume'])
    new_df2.price = pd.Series(nprice)
    new_df2.volume = pd.Series(nvolume)
    new_df2.index = ttime
    new_df2.index.name = 'time'
    
    # save the dataframe to .csv
    # import os
    # new_df2.to_csv('C:/Users/hsy/Desktop/GlobalAI/VPIN/MIR/goog/'+'GOOG_tick.csv')
    
    return new_df2

In [3]:
# Read the file
file = pd.read_csv('C:/Users/hsy/Desktop/GlobalAI/VPIN/MIR/goog/GOOG.csv')

In [4]:
standard_tick_csv(file)

                        price  volume
time
2010-03-01 04:15:41  529.9500     100
2010-03-01 07:26:04  528.8100     100
2010-03-01 07:55:09  527.6600     100
2010-03-01 08:15:19  529.6000     100
2010-03-01 08:15:19  529.6400     200
2010-03-01 08:25:43  526.8000     900
2010-03-01 08:33:44  529.5000     394
2010-03-01 09:02:10  529.4000     194
2010-03-01 09:02:10  529.5400     100
2010-03-01 09:08:19  529.6000     100
2010-03-01 09:08:19  529.6000     301
2010-03-01 09:08:32  529.6000     100
2010-03-01 09:28:00  529.9400     500
2010-03-01 09:28:00  529.9600     100
2010-03-01 09:28:00  529.9500     100
2010-03-01 09:28:07  529.6100     200
2010-03-01 09:29:34  529.9700     100
2010-03-01 09:29:50  530.2100     100
2010-03-01 09:29:55  530.2100     100
2010-03-01 09:29:59  530.2100     100
2010-03-01 09:29:59  530.1600     100
2010-03-01 09:30:00  529.2400     100
2010-03-01 09:30:00  529.2000     100
2010-03-01 09:30:00  529.1500      90
2010-03-01 09:30:00  530.2000     100
2010-03-01 09:30:00  529.5700     100
2010-03-01 09:30:00  529.5300     100
2010-03-01 09:30:00  529.3450     100
2010-03-01 09:30:00  530.0700   13646
2010-03-01 09:30:01  530.0700   13646
...                       ...     ...
2010-03-31 16:21:02  567.0135    6153
2010-03-31 16:21:03  567.0065    5257
2010-03-31 16:21:26  567.0150     290
2010-03-31 16:23:02  567.0140    1174
2010-03-31 16:25:48  567.0100    9600
2010-03-31 16:28:32  567.0101    1000
2010-03-31 16:30:06  566.9962     800
2010-03-31 16:34:11  566.7000     500
2010-03-31 16:34:14  565.7200     160
2010-03-31 16:35:11  567.0100     930
2010-03-31 16:36:38  566.9600     100
2010-03-31 16:36:38  566.9700     100
2010-03-31 16:37:20  567.0100     930
2010-03-31 16:40:04  567.0000     100
2010-03-31 16:40:05  567.0000     100
2010-03-31 16:45:18  567.0000     160
2010-03-31 16:46:32  567.0100    1286
2010-03-31 16:48:20  567.0100    5826
2010-03-31 16:49:41  567.0100    2060
2010-03-31 16:50:29  567.0100     528
2010-03-31 16:50:53  567.0100    3951
2010-03-31 16:51:17  567.0100    3169
2010-03-31 16:53:40  567.0000     251
2010-03-31 16:57:27  567.0100     100
2010-03-31 17:00:05  567.0100    8076
2010-03-31 17:05:36  567.0000     100
2010-03-31 17:36:35  567.0000     160
2010-03-31 17:42:36  567.0000     168
2010-03-31 18:08:43  567.0100     371
2010-03-31 19:38:03  567.6700     100

[477172 rows x 2 columns]